@CHARSET "UTF-8";

body {
	overflow: hidden;
}

* {
	margin: 0;
	font-family: "Comic Sans MS";
	color: #666;

}

div{
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	
}

#header {
	height: 82px;
	width: 1200px;
}

#main {
	height: 550px;
	width: 1400px;
	border: 1px black solid;
	overflow: auto;
}

#modeMain{
	height: 700px;
	width: 1400px;
	border: 1px black solid;
	position: relative;
	top: 100px;
}

#bottom {
	height: 30px;
	width: 1200px;
	text-align: center;
	position: relative;
	top: 100px;
}

#pn_input {
	width: 30px;
	text-align: center;
}

.img_div{
	height: 150px;
	text-align: center;
}

.wel_word{
	font-size: 50px;
	float: left;
}

.logo_img{
	width: 700px;
	height: 180px;
	float: left;
}

.modeSelection{
	width: 700px;
	height: 180px;
}

.modeForm{
	float: left;
	font-size: 25px;
}

#header div a {
	text-decoration: none;
	font-size: 20px;

}

#header div{
	float: right;
	margin-top: 55px;

}



/*welcome page CSS style  */

#login_header{
	height: 82px;
	width: 1200px;
	position: relative;
	bottom: 10px;
}

.login_banner{
	height:600px;
	background-color: #1e3636;
}

.login_form{
	height:310px;
	width:430px;
	float: right;
	margin-right:10px;
	margin-top: 10px;
	background-image: url("../img/login_background.jpg");
}


#content {
	height: 475px;
	width: 1200px;
}

.login_box{
	margin: 20px;
	height: 300px;
	width: 400px;
}

h1 {
	font-size: 20px;
}
.msg_cont{
	background: none repeat scroll 0 0 #fff6d2;
    border: 10px solid #ffe57d;
    color: #666;
    height: 25px;
    line-height: 25px;
    padding: 3px 10px 3px 40px;
    position: relative;
    border: none;
}

.msg_cont b {
	background: url("../img/pwd-icons-new.png") no-repeat scroll -104px -22px rgba(0, 0, 0, 0);
    display: block;
    height: 17px;
    left: 10px;
    margin-top: -8px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 16px;
}

.form .itxt {
    border: 0 none;
    float: none;
    font-family: "宋体";
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding: 10px 0 10px 10px;
    width: 220px;
    border: 1px #e3e3e3 solid;
}

#sub_btn{
	background-color: #39987c;
	border: none;
	color: #fff;
	width: 360px;
	height: 40px;
}

#l_content {
	float: left;
	margin-top: 150px;
	margin-left: 300px;
}

#l_content span {
	font-size: 60px;
	color: white;
}

.tit h1 {
	float: left;
	margin-top: 5px;

}


.tit a {
	float: right;
	margin-left: 10px;
	margin-top: 10px;
	color: red;
	text-decoration: none;
}

.tit .errorMsg {
	position: absolute;
	top: 267px;
	width: 400px;
	left: 1130px;
	color: red;
}


.tit {
	height: 30px;
}

#header div span {
	margin: 10px;
}

.um_span{
	color: red;
	font-size: 25px;
	margin: 10px;
}

#mode{
	font-size: 25px;
	color: deeppink;
}

.mode_wel_word{
	font-size: 20px;
}

.communication{
	position: absolute;
	right: 40px;
	top: 20px;
	font-size: 40px;
	color: darkseagreen;
}

.pacemakerID{
	position: absolute;
	right: 40px;
	font-size: 20px;
	color: #f3189c;
}

.modeTable{
	font-size: 25px;
	padding: 10px;
}

#header div a {
	color: blue;
}
